<div class="document-details-wrapper wrapper-show" ng-class="{'mobile-show':ctrl.show}">
	<div id="app-navigation-toggle-back" class="details-back icon-download" ng-click="ctrl.closeDocument()"></div>
	<div ng-if="ctrl.document===undefined">
		<div id="emptycontent" class="">
			<div class="icon-paperwork-dark"></div>
			<h2>{{ctrl.t.noDocument}}</h2>
		</div>
	</div>
	<div ng-if="ctrl.document">
		<header class="documentdetails__header">
      <!-- <avatar data="ctrl.account" ng-class="{'avatar--missing': ctrl.account.avatar()===undefined}"></avatar> -->
			<div id="details-document-infos">
				<h2>
					<input type="text" id="details-fullName" class="documentdetails__date" placeholder="{{ctrl.t.placeholderDate}}" autocomplete="off" autocorrect="off" spellcheck="false"
						   name="date" ng-model="ctrl.document.date" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateDocument()" value="" ng-disabled="!ctrl.document.editingEnabled" />
				</h2>
				<!-- <div id="accountdetails-container"> -->
					<input type="text" id="details-description" class="documentdetails__description" placeholder="{{ctrl.t.placeholderDescription}}" autocomplete="off" autocorrect="off" spellcheck="false"
						   name="description" ng-model="ctrl.document.description" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateDocument()" value=""
               inputresize size="{{ctrl.document.description.length > 1 ? ctrl.document.description.length : '1'}}" ng-disabled="!ctrl.document.editingEnabled" />
					<div class="app-content-list-item-value">
						<!-- <span style="vertical-align: middle;">{{ ctrl.account.balance | currency : "" }}</span> &nbsp; -->
						<ui-select title="Choose a currency" ng-model="ctrl.account.currency" ng-change="ctrl.updateAccount()" theme="select2" tagging tagging-label="false" ng-disabled="!ctrl.account.editingEnabled">
		 					<ui-select-match placeholder="{{ ctrl.t.placeholderCurrency }}">{{$select.selected}}</ui-select-match>
		 					<ui-select-choices repeat="currency in ctrl.availableCurrencies | filter: $select.search">
		 		 				<span ng-bind-html="currency | highlight: $select.search"></span>
		 		 	  	</ui-select-choices>
		 		 		</ui-select>
					</div>
				<!-- </div> -->
			</div>
			<div id="details-actions-toggle">
				<a class="icon-settings" ng-click="ctrl.toggleActionsPanel()"></a>
			</div>
			<div id="details-actions" ng-show="ctrl.showActionsPanel">
				<a ng-click="ctrl.exportAccount()" class="icon-download" title="{{ctrl.t.exportAccount}}"></a>
				<div ng-class="{'icon-loading-small': ctrl.deleteAccountLoading}"></div>
				<a ng-if="!ctrl.deleteAccountLoading" ng-click="ctrl.deleteAccount()" class="icon-delete" title="{{ctrl.t.deleteAccount}}"></a>
				<!-- <a ng-click="ctrl.importTransactions()" class="icon-upload" title="{{ctrl.t.importTransactions}}"></a> -->
				<input id="transactions-import" type="file" class="hidden-visually">
				<label for="transactions-import" class="icon-upload" />
			</div>
		</header>
		<section>

		</section>
	</div>
</div>
